
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<% if comment.id.present? %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
     
    </div><!-- /col-sm-12 -->
  </div><!-- /row -->
  <div class="row">
    <div class="col-sm-1">
      <div class="thumbnail">
        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= comment.name %></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at) %> ago</span>
          <div class="pull-right">
          <% if current_user.admin? || current_user?(comment.post.user) %>
            <span class="text-muted"><%= link_to "delete", [comment.post,comment], method: :delete,data: { confirm: "You sure?" } %></span>
          <% end %>
        </div>
        <div class="panel-body">
          <%= comment.body %> 
        </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
<% end %>
  </div><!-- /row -->

</div><!-- /container -->